.about-block {
  text-align: center;
  margin-bottom: 30px;
}
.wrap-block {
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  display: flex;
  @include media ('<=desktop') {
    flex-wrap: wrap;
  }
  .block-1 {
    border-left: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
  }
}
.block-form {
  background: #e5e5e5;
  padding: 20px 10px 10px;
  .sm-text {
    font-size: 12px;
  }
  a {
    margin-left: 5px;
  }
}
.pimg-r {
  background: transparent;
  border: none;
}
.lf-block,
.rf-block {
  display: inline-block;
  vertical-align: middle;
  margin-right: -4px;
  @include media ('<=tablet') {
    width: 100%!important;
  }
}
.lf-block {
  width: calc(100% - 150px);
  margin-bottom: 10px;
  span {
    margin-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
  }
}
.rf-block {
  width: 150px;
  margin-bottom: 10px;
}
.block-form-res {
  background-color: #000;
  color: #fff;
  .btn-default {
    padding-right: 25px;
    padding-left: 25px;
    text-transform: uppercase;
  }
}